/mods
/logs
/local
/saves
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
/crash-reports
config/fml.toml
emi.json
instance.json
emi.json
kubejs/config/probejs.json
kubejs/config/probejs.json
/kubejs/config
